@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$custom-colors:("royalgreen": rgb(133,197,33));

$theme-colors: map-merge(
  $theme-colors,
  $custom-colors
);



@import "bootstrap/scss/bootstrap";

body{
  font-family: Oswald;
  background-color: rgba(40, 42, 49, 0.863) !important;
  color: rgb(255, 255, 255);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Минимальная высота body равна высоте viewport
  margin: 0; // Убираем отступы по умолчанию

  main {
    flex: 1; // main занимает всё доступное пространство
  }

  footer {
    flex-shrink: 0; // footer не сжимается
  }
}

.max_width{
  max-width: max-content;
}