---
import Choice from "./Choice";
import Instruction from "./Instruction.astro";
import Title from "./Title.astro";

const apiUrl = import.meta.env.VITE_API_URL;
---

<main>
    <div class="container">
        <div class="d-flex d-flex flex-column gap-2 gap-lg-4">
            <Title />
            <Choice host={apiUrl} client:load />
            <Instruction />
        </div>
    </div>
</main>
<footer>
    <div class="container mt-5">
        <p class="text-center text-white">
            &copy; 2025. Wszelkie prawa zastrzeżone. | Ta strona wykorzystuje pliki Cookie.
        </p>
    </div>
</footer>
