---
import Choice from "./Choice";
import Instruction from "./Instruction.astro";
import Title from "./Title.astro";

const apiUrl = import.meta.env.VITE_API_URL;
---

<div class="container">
    <dev class="d-flex d-flex flex-column gap-2 gap-lg-4">
        <Title />
        <Choice host={apiUrl} client:load />
        <Instruction />
    </dev>
</div>
